.component-button {
  height: 52px;
  padding: 16px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid rgb(139, 183, 249);
  border-radius: 30px;
  color: rgb(139, 183, 249);
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;

  .button-text {
    flex: 0 1 auto;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &.active {
    background: rgb(42, 92, 167);
    border: 1px solid rgb(42, 92, 167);
    color: #fff;
  }

  &:hover {
    border: 1px solid rgb(42, 92, 167);
    color: rgb(42, 92, 167);

    &.active {
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .component-button {
    height: 32px;
    padding: 8px 16px;
  }
}
