.component-button {
  height: 52px;
  padding: 16px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid rgb(139, 183, 249);
  border-radius: 30px;
  color: rgb(139, 183, 249);
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
  overflow: hidden;

  .btn-icon {
    margin-right: 8px;

    .conponent-icon {
      vertical-align: middle;
    }
  }

  .button-text {
    flex: 0 1 auto;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &.round {
    flex: 1 0 auto;

    &.active {
      background: rgb(42, 92, 167);
      border: 1px solid rgb(42, 92, 167);
      color: #fff;
    }

    &:hover {
      border: 1px solid rgb(42, 92, 167);
      color: rgb(42, 92, 167);

      &.active {
        color: #fff;
      }
    }
  }

  &.square {
    width: 48%;
    padding: 18px 24px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: #222;

    span {
      transition: all 0.3s ease-in;
    }

    .button-text {
      transform: translateX(-16px);
    }

    .btn-icon {
      transform: translateX(-60px);
    }

    &:hover {
      .button-text,
      .btn-icon {
        transform: translateX(0px);
      }
    }
  }
}

@media (max-width: 600px) {
  .component-button {
    height: 32px;
    padding: 8px 16px;
  }
}
