.component-control-panel {
  .options-wrapper {
    display: flex;
    flex-wrap: wrap;

    .background-image {
      height: 50px;
      width: 50px;
      margin: 0 5px 5px 0;
      cursor: pointer;
      transition: transform 0.1s ease-in;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
  .component-button {
    margin: 0 8px 8px 0;
  }

  section {
    margin-bottom: 24px;

    .section-title {
      margin-bottom: 16px;
      font-weight: 900;
    }
  }
}

@media (max-width: 600px) {
  .component-control-panel {
    section {
      margin-bottom: 18px;

      .section-title {
        margin-bottom: 12px;
        font-weight: 900;
      }
    }

    .options-wrapper {
      .background-image {
        height: 30px;
        width: 30px;
      }
    }
  }
}
